{% extends 'portfolioApp/base.html' %} {% block content %} {% load static %}

<img
  src="{% static 'portfolioApp/1000x1000.png' %}"
  class="rounded mx-auto d-block"
  style="scale: 100%"
/>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext">
      Multimedia technology specialist in the makings of becoming a programmer
      (hopefully)
    </h1>
  </div>
</div>
<hr />
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">
    {% if project.url %}
    <a href="{{ project.url }}">
      <img
        id="projectphoto"
        src="{{ project.image.url }}"
        class="img-fluid mb-2"
      />
    </a>
    {% else %}
    <img
      id="projectphoto"
      src="{{ project.image.url }}"
      class="img-fluid mb-2"
    />
    {% endif %}
    <h3 id="project_title">{{ project.title }}</h3>
    <p id="project_description">{{ project.description }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
