{% extends 'portfolioApp/base.html' %} {% block content %} {% load static %}

<h1 style="text-align: center; padding-bottom: 2cm" id="hometext">
  Currently I have written {{ blogs_count }} blog{{ blogs_count |pluralize}}
</h1>

<div class="row">
  {% for blog in blogs %}
  <div class="col-lg-4 col-md-6">
    <a
      style="text-decoration: none; color: black"
      href="{% url 'blog:detail' blog.id %}"
      ><h2 class="text-capitalize text-center font-weight-bold">
        {{ blog.title }}
      </h2></a
    >
    <h4 class="text-capitalize text-center">{{ blog.date}} {{blog.time}}</h4>
    <p style="text-align: justify">{{ blog.text|truncatechars:200}}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
